.skilldiv {
    text-align: center;
}

.background-black{
    background-color: lightgrey;
}

body {
    color: black;
}

#application_header{
    text-align: center;
    margin: 50px;
}

.work-caption{
    color: #666;
}

.codelinks{
    margin: 10px;
}